@using ShopBee.Models.ViewModels
@model BookVM

<h1> @(Model.Book.Id == 0 ? "Create" : "Edit") a Book</h1>
<form method="post" enctype="multipart/form-data">
    <div class="border p-3 mt-4">
        <div class="row">
            <input asp-for="Book.Id" hidden />
            <input asp-for="Book.CreateDate" hidden />
            <input asp-for="@Model.Book.StoreID" hidden />

            <div class="col-10">
                <div class="mb-3 row p-1">
                    <label asp-for="Book.Name" class="p-0"></label>
                    <input asp-for="Book.Name" class="form-control" />
                    <span asp-validation-for="Book.Name" class="text-danger"></span>
                </div>
                <div class="row mb-3">
                    <label asp-for="Book.CategoryId"></label>
                    <select asp-for="@Model.Book.CategoryId" asp-items="@Model.MyCategories" class=" form-select form-control"></select>

                </div>
                <div class="row mb-3">
                    <label asp-for="Book.ActualPrice"></label>
                    <span asp-validation-for="Book.ActualPrice" class="text-danger"></span>
                    <input asp-for="Book.ActualPrice" class="form-control" >

                </div>
                <div class="row mb-3">
                    <label asp-for="Book.DiscountPrice" class="control-label">Discount Price $</label>
                    <input asp-for="Book.DiscountPrice" class="form-control" />
                    <span asp-validation-for="Book.DiscountPrice" class="text-danger"></span>
                </div>
                <div class="row mb-3">
                    <label asp-for="Book.Stock" class="control-label">Stock</label>
                    <input asp-for="Book.Stock" class="form-control" />
                    <span asp-validation-for="Book.Stock" class="text-danger"></span>
                </div>
                <div class="row mb-3">
                    <label asp-for="Book.Author"></label>
                    <input asp-for="Book.Author" class="form-control" />
                    <span asp-validation-for="Book.Author" class="text-danger"></span>
                </div>
                <div class="row mb-3">
                    <label asp-for="Book.Description"></label>
                    <input asp-for="Book.Description" class="form-control" />
                    <span asp-validation-for="Book.Description" class="text-danger"></span>
                </div>
                <div class="row mb-3">
                    <label asp-for="Book.ImgUrl"></label>
                    <img class="col-2" src="@Model.Book.ImgUrl"  />
                    <input type="file" name="file" class="form-control">
                </div>
                <div class="row mb-3" role="group">
                    @if (Model.Book.Id == 0)
                    {
                        <button type="submit" class="btn btn-primary">Create</button>
                    }
                    else
                    {
                        <button type="submit" class="btn btn-primary">Update</button>
                    }

                    <a asp-controller="Book" asp-action="Index" class="btn btn-primary">
                        Back to List
                    </a>
                </div>
            </div>
        </div>

    </div>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}