@using ShopBee.Models.ViewModels
@model FeedbackVM
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <link rel="stylesheet" href="~/css/customer/feedback.css">
</head>
<div class="container">
	<h2 class="text-center mb-4">Feedback</h2>
	<form method="post">
		<div class="review-form">
			@{
				for (int i=0; i< Model.Feedbacks.Count(); i++)
				{
					<input asp-for="@Model.Feedbacks[i].UserId" hidden />
					<input asp-for="@Model.Feedbacks[i].OrderId" hidden />
					<input asp-for="@Model.Feedbacks[i].BookId" hidden />
				
					<div class="product-review">
						<h4>@Model.Feedbacks[i].Book.Name</h4>
						<hr class="feedback">
						<div class="product-info">
							<img src="@Model.Feedbacks[i].Book.ImgUrl" class="product-image">
							<div class="review-content">
								<textarea asp-for="@Model.Feedbacks[i].Content" class="form-control" rows="4" placeholder="Enter your feedback"></textarea>
							</div>
						</div>
						<div class="rating">
							<label for="rating1">Rating: @Model.Feedbacks[i].Rating</label>
							<select asp-for="@Model.Feedbacks[i].Rating" class="form-control">
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
							</select>
						</div>
					</div>

				}
		
			}
			
		


			<button type="submit" class="btn btn-primary feedback-button">Send Feedback</button>
		</div>
	</form>
	
		
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>